h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar {
    background-color: #007bff;
    color: white;
}

    .navbar a {
        color: white;
    }

        .navbar a:hover {
            color: #ddd;
        }
